
:root {
    --title-font: "Silkscreen";
    --primary-font:"Poppins", sans-serif;
    --primary:#74a892;
    --secondary:  #008585;
    --third:#fbf2c4;
    --fourth: #832607;
    --fifth: #e5c185;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family:var(--primary-font);
    background-color: var(--primary);
    color: var(--fourth);
    text-align: center;
}

h1 {
    text-align: center;
    font-family: var(--title-font);
    color: var(--third);
    font-size: 3rem;
}

h2{
    margin-top: 100px;
    font-family: var(--title-font);
    color: var(--third)
}

h4 {
    margin-top: 5px;
}

ul {
    margin: auto;
}
.flx {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flxd {
    flex: 1 1 25%;
}

.c {
    text-align: center;
}
.tile {
    text-align: center;
    max-width: 300px;
    border: black solid 2px;
    margin: 5px;
    background-color: var(--secondary)
}

.tile:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.project-title {
    color: var(--third);
    font-size: 1.25rem;
}

.project-description {
    color: var(--fifth);
}

.thumbnail {
    overflow: hidden;
    width: 300px;
    border-bottom: 2px black solid;
}

.tech > * {
    margin: 3px auto;
    font-weight: 900;
}

.tech-title {
    background-color: var(--secondary);
    color: var(--third)
}

p.contact-info {
    margin-left: 30px;
}
#tile-insertion-point {
    margin: 20px;
}