
:root {
    /* Videogameish BLUE */
    /* --title-font: "Silkscreen";
    --primary-font:"Poppins", sans-serif;
    --primary:#74a892;
    --secondary:  #008585;
    --third:#fbf2c4;
    --fourth: #832607;
    --fifth: #e5c185; */

    /* GOTHIC */
    /* --title-font: 'Cinzel';
    --primary-font: "Poppins";
    --primary: black;
    --secondary: #737373;
    --third: white;
    --fourth: white;
    --fifth: black; */

    /* CLOUDS */
    /* --title-font: "Saira";
    --primary-font: "Poppins";
    --primary: white;
    --secondary: white;
    --third: lightblue;
    --fourth: grey;
    --fifth: black;
    --borders: black; */

    /* TEAL */
    --title-font: "Cinzel";
    --primary-font: "Poppins";
    --primary: #263739;
    --secondary: rgb(46, 45, 45); 
    /* #2c4c64; */
    --third: white;
    --fourth: #a5bdc1;
    --borders: black;

    --accent: hsl(189, 7%, 19%);

    /* BLACK GREEN TAN*/
    /* --title-font: "Saira";
    --primary-font: "Poppins";
    --primary: #100C0D;
    --secondary: #013328;
    --third: #CC8B65;
    --fourth: #E3DCD2;
    --borders: black; */

    /* Unknown */
    /* --title-font: "Saira";
    --primary-font: "Poppins";
    --primary:grey;
    --secondary:  white;
    --third:black;
    
    --fourth: black;
    --borders: black; */

    

}

html, body {
    margin: 0px;
    padding: 0px;
    font-family:var(--primary-font);
    background-color: var(--primary);
    /* background-image: linear-gradient(var(--primary), var(--accent)); */
    color: var(--fourth);
    text-align: center;
}

h1 {
    text-align: center;
    font-family: var(--title-font);
    color: var(--third);
    font-size: 3rem;
}

h2{
    margin-top: 100px;
    font-family: var(--title-font);
    color: var(--third)
}

h3 {
    font-family: var(--primary-font);
    color: var(--third);
}
h4 {
    margin-top: 5px;
}

ul {
    margin: auto;
}
.flx {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flxd {
    flex: 1 1 25%;
}

.c {
    text-align: center;
}
.tile {
    text-align: center;
    width: 280px;
    max-width: 280px;
    height: 451px;
    max-height: 451px;
    border: var(--borders) solid 2px;
    margin:7px;
    /* border-radius: 10px; */
    background-color: var(--secondary);
    /* box-shadow: 10px 5px 4px var(--third); */
}

.tile:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.project-title {
    color: var(--third);
    font-size: 1.25rem;
}

.project-description {
    color: var(--fourth);
    padding: 10px;
}

.thumbnail {
    overflow: hidden;
    width: 280px;
    height: 200px;
    border-bottom: 2px var(--borders) solid;
}

.tech > * {
    margin: 3px auto;
    font-weight: 500;
}

.tech-title {
    color: var(--third);
    /* background-color: black;
    padding-left: 10px;
    padding-right: 10px; */
}

p.contact-info {
    margin-left: 30px;
}
#tile-insertion-point {
    margin: 20px;
}

.golden-ratio{
    width: 200px;
    height: 320px;
   
    margin: 2px auto;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative
}

.blk {
    color: black;
    font-weight: 900;
}